@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
.landingpage-pagewrapper {
  display: grid;
  grid-template-columns: 60% 40%;
  height: 100vh;
}

.hook-section {
  position: relative;
  height: 100%;
  background-color: #1B4332;
}
.hook-section h1 {
  color: #D8F3DC;
  font-weight: 500;
  font-size: 41.89px;
}
.hook-section h2 {
  color: #D8F3DC;
  font-weight: 400;
  font-size: 41.89px;
  letter-spacing: 1px;
}

.hook-content-wrapper {
  margin-left: 92px;
  display: flex;
  width: 60%;
  flex-direction: column;
  height: 100%;
  justify-content: flex-end;
}

.hook-copy {
  margin-bottom: 20px;
}

.action-section {
  height: 100%;
  background-color: #D8F3DC;
}

.action-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 220px;
  margin: auto;
  gap: 50px;
}
.action-content-wrapper h3 {
  color: #081C15;
  margin: 0 auto;
  font-size: 25.89px;
  font-weight: 400;
}

.login-btns {
  height: 55px;
  width: 200px;
  background-color: #081C15;
  color: #D8F3DC;
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
}

@media (max-width: 800px) {
  .landingpage-pagewrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .action-content-wrapper {
    flex-direction: column-reverse;
  }
  .phone-img {
    display: none;
  }
  .hook-section {
    background-color: #D8F3DC;
    width: 100%;
  }
  .hook-section h1, .hook-section h2 {
    color: #081C15;
  }
  .hook-section .hook-content-wrapper {
    margin: auto;
    text-align: center;
  }
  .hook-copy h2 {
    visibility: collapse;
    display: none;
  }
  .action-content-wrapper h3:first-child {
    visibility: collapse;
  }
  .replacing-copy-2::before {
    content: "Let us do the math";
  }
  .replacing-copy-1::before {
    color: #081C15;
    margin: 0 auto;
    font-size: 25.89px;
    font-weight: 400;
    content: "A finance tracker for freelancers and contract workers.";
  }
}
.homepage-page-wrapper {
  position: absolute;
  background-color: #1B4332;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
}

.add-sub-btn-div {
  display: flex;
  padding: 40px 80px;
  gap: 80px;
  width: 550px;
}

.action-wrapper {
  width: 250px;
}

.action-btn {
  background-color: #40916C;
  color: #D8F3DC;
  font-size: 16px;
  border: none;
  width: 100%;
  height: 70px;
  border-radius: 32px;
  cursor: pointer;
  filter: drop-shadow(0 0 1rem rgb(2, 46, 15));
}

.action-dropdown {
  background-color: #081C15;
  color: #D8F3DC;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 30px 0;
  border-radius: 32px;
}

.action-form-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.action-form-section label {
  font-size: 16px;
}

.action-input {
  background-color: #D8F3DC;
  border: none;
  width: 200px;
  height: 25px;
}

.submit-action-btn {
  background-color: #74C69D;
  border: none;
  border-radius: 32px;
  cursor: pointer;
  width: 140px;
  height: 30px;
  font-size: 16px;
}

.forecast-div {
  margin-left: 80px;
  width: 550px;
  height: 350px;
  background-color: #081C15;
  border-radius: 32px;
}

.forecast-dropdown {
  margin: 30px;
  color: #D8F3DC;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.forecast-dropdown label {
  font-size: 16px;
}
.forecast-dropdown p {
  font-size: 16px;
}

.left-half {
  background-color: #1B4332;
}

.right-half {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: #1B4332;
}

.current-total {
  margin: 0;
  color: #D8F3DC;
  font-weight: 400;
  font-size: 25.89px;
  padding: 60px 80px;
}

.filter-time-btn {
  background-color: #74C69D;
  border: none;
  border-radius: 32px;
  color: #D8F3DC;
  cursor: pointer;
  font-size: 16px;
  height: 50px;
  width: 200px;
  background-color: #40916C;
}

.monthly-btn {
  background-color: #74C69D;
  border: none;
  border-radius: 32px;
  color: #D8F3DC;
  cursor: pointer;
  font-size: 16px;
  height: 50px;
  width: 200px;
  background-color: #081C15;
  margin-right: -20px;
  filter: drop-shadow(0 0 0.5rem rgb(2, 46, 15));
}

.weekly-btn-wrapper {
  display: flex;
  flex-direction: row-reverse;
  margin-right: 80px;
  filter: drop-shadow(0 0 0.5rem rgb(2, 46, 15));
}

.chart-wrapper {
  width: 80%;
}

.chart {
  background-color: #081C15;
  height: 500px;
  border-radius: 18px;
  margin-right: 80px;
  margin-top: 20px;
}

@media (max-width: 1200px) {
  .homepage-page-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .right-half {
    width: 100%;
  }
  .left-half {
    width: 100%;
  }
  .add-sub-btn-div {
    margin: auto;
  }
  .forecast-div {
    margin: auto;
  }
  .chart {
    margin: auto;
    width: 550px;
  }
  .chart-wrapper {
    margin: auto;
    padding-bottom: 20px;
  }
  .current-total {
    width: 75%;
    margin: auto;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 40px;
  }
  .weekly-btn-wrapper {
    margin-right: 20px;
    margin-bottom: 40px;
  }
}
@media (max-width: 710px) {
  .add-sub-btn-div {
    flex-direction: column;
    justify-content: center;
    width: auto;
  }
  .action-wrapper {
    width: auto;
  }
  .forecast-div {
    width: 90%;
  }
  .chart {
    width: auto;
  }
  .current-total {
    width: auto;
  }
  .weekly-btn-wrapper {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
}
@media (max-width: 400px) {
  .action-wrapper {
    width: 300px;
  }
  .add-sub-btn-div {
    align-items: center;
  }
}

/*# sourceMappingURL=homepage.css.map */
