// @use 'functions';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
$light-background: #D8F3DC;
$dark-background: #1B4332;
$darkest: #081C15;
$ReplacementCopy: 'A finance tracker for freelancers and contract workers.';
$font-weights: (
    "light" : 100,
    "regular": 400,
    "semi-bold": 500,
    "bold" : 700,
    "heavy" : 900,
    
);

$font-sizes: (
    "largest": 41.89px,
    "medium" : 25.89px,
    "small" : 16px
);

.landingpage-pagewrapper{
    display: grid;
    grid-template-columns: 60% 40%; 
    height: 100vh;
   
}

.hook-section{
    position: relative;
    height: 100%;
    background-color: $dark-background;

    h1{
        color: $light-background;
        font-weight: map-get($font-weights, semi-bold);
        font-size: map-get($font-sizes, largest);
        
    }

    h2{
        color: $light-background;
        font-weight: map-get($font-weights, regular);
        font-size: map-get($font-sizes, largest);
        letter-spacing: 1px;
    }
}

.hook-content-wrapper{

    margin-left: 92px;
    display: flex;
    width: 60%;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
   
    
 
}

.hook-copy{
 margin-bottom: 20px;
}


.action-section{
    height: 100%;
    background-color: $light-background;
   
}


.phone-img{
   
 
}

.action-content-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 220px;
    margin: auto;
    gap: 50px;
    

    h3{
        color: $darkest;
        margin: 0 auto;
        font-size: map-get($font-sizes, medium );
        font-weight: map-get($font-weights, regular);

    }
}

.login-btns{
    height: 55px;
    width: 200px;
    background-color: $darkest;
    color: $light-background;
    border: none;
    cursor: pointer;
    font-weight: map-get($font-weights, semi-bold);
    font-size: map-get($font-sizes, small );
}

@media (max-width: 800px){
 .landingpage-pagewrapper{
    display: flex;
    flex-direction: column;

  
 }
 .phone-img{
    display: none;
    }
  .hook-section{
    background-color: $light-background;
    width: 100%;
    h1, h2{
        color: $darkest;
    }
    .hook-content-wrapper{
        justify-content: center;
        margin: auto;
        text-align: center;
     
    }

    h2{
        visibility: hidden;
    }
    h2:after{
     
        visibility: visible;
        position: absolute;
        top: 200px;
        left: 0;
        right: 0;
        width: 275px;
        margin-left: auto; 
        margin-right: auto; 
        font-size: map-get($font-sizes, medium );
        content: $ReplacementCopy;
    }
  }
  .action-section{
    height: 50%;
  }
  .action-content-wrapper{
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 375px;
    flex-direction: column-reverse;

    .login{
        margin-bottom: 30px;
    }

    h3{
        visibility: hidden;
    }

    h3:after{
        text-align: center;
        visibility: visible;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 1%;
       
        

        font-size: map-get($font-sizes, medium );
        content: "Let us do the math.";
      
        
    }
  }
}

