@use 'landingpage';

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');



.login-page-wrapper{
    background-color: landingpage.$light-background;
    height: 100vh;
    text-align: center;


    h1{
        font-size: map-get(landingpage.$font-sizes, medium );
        font-weight: map-get(landingpage.$font-weights, regular );
        margin: 0;
        margin-bottom: 50px;
    }
}

.login-box{
    background-color: #40916C;
    width: 600px;
    padding: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 18px;
    filter: drop-shadow(0 0 0.5rem rgb(2, 46, 15));


    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 600px;
        margin: auto;
        gap: 60px;
    }
   
}

.label-input-group{
    display: flex;
    flex-direction: column;

    input{
        width: 300px;
        height: 30px;
        border: none;
        background-color: landingpage.$light-background;
    }

    label{
        font-size: map-get(landingpage.$font-sizes, small );
        font-weight: map-get(landingpage.$font-weights, semi-bold );
        align-self: flex-start;
        margin-bottom: 5px;
    }
}

.login-box p{
    font-size: map-get(landingpage.$font-sizes, medium );
    font-weight: map-get(landingpage.$font-weights, regular );
    margin: 0;
    margin-bottom: 50px;
}

.signup-btns-wrapper{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    
   
}
.back-btn{
   
    position: absolute;
    left: 5%;
    
}

@media(max-width: 800px){
    .login-box{
        width: 300px;

        form{
            width: 300px;
        }
    }
}

@media(max-width: 400px){
    .login-box{
        width: 200px;

        form{
            width: 200px;
        }

        input{
            width: 200px;
        }

        p{
            font-size: map-get(landingpage.$font-sizes, small );
        }
        header{
            font-size: map-get(landingpage.$font-sizes, small );
        }
    }
    .signup-btns-wrapper{
        flex-direction: column;
        gap: 20px;
    }

    .back-btn{
        position: relative;
        left: 0;
    }


}